{% extends 'base.html' %}
  {% block content %}
<div class="container">

    <div class='row'>
        {% if messages %}
        <div class="col-12 p-2 bg-secondary text-white text-center">

            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>

        {% endif %}
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-6 p-0">

        {% if student %}
        <p align="center"><img width="250" height="250" src="{{student.picture.url}}" class='img' alt=""></p>
        <table class="table table-striped">
        
            <tr><td>Name: </td><td class="text-right">{{student.user.name}}<i class="bi bi-pencil"></i></td></tr>
            <tr><td>Roll: </td><td class="text-right">{{student.class_roll}}</td></tr>
            <tr><td>Father's Name: </td><td class="text-right">{{student.father_name}}</td></tr>
            <tr><td>Mother's Name: </td><td class="text-right">{{student.mother_name}}</td></tr>
            <tr><td>Admission year: </td><td class="text-right">{{student.admission_year}}</td></tr>
            <tr><td>Regular : </td><td class="text-right">{{student.regular}}</td></tr>
            <tr><td>Group: </td><td class="text-right">{{student.group|capfirst}}</td></tr>
            <tr><td>Birth: </td><td class="text-right">{{student.date_of_birth}}</td></tr>
            <tr><td>District:</td><td class="text-right">{{student.district}}</td></tr>
            <tr><td>Thana: </td><td class="text-right">{{student.thana}}</td></tr>
            <tr><td>Post: </td><td class="text-right">{{student.post}}</td></tr>
            <tr><td>Village:</td><td class="text-right">{{student.village}}</td></tr>
            <tr><td>Phone:</td><td class="text-right">{{student.phone}}</td></tr>
            <tr><td colspan="2">Your Subjects are these :</td></tr>
            <tr>
                <td>Optional:</td>
                <td class="text-right">
                    {% for subject in optional_subject %}
                        {{subject}}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Compulsory:</td>
                <td class="text-right">
                    {% for compulsory_subject in compulsory_subjects %}
                        {{compulsory_subject}},
                    {% endfor %}
                </td>
            </tr>
                
            
        </table>

        {% endif %}
        
    </div>
    <div class="col-md-6 p-0 mt-5 d-flex justify-content-center">
        <div class="results">
        {% if not user.is_teacher and user.student.class_roll  == student.class_roll %}
            <a href={% url 'reset_password' %}> Click here to Change your password...</a><br>
            <a href="{% url 'student_profile_edit' user.id %}">Edit Profile</a>

        {% endif %}
        {% if exams %}
            <h6 class='mt-3'> Results:</h6>
            {% for exam in exams %}
                {% if exam.is_published and exam.session == student.session  %}
                <p><a href="{% url 'student_result' student.session student.class_roll exam.year exam.term  %}">{{exam.get_term_display|capfirst}} Exam-{{exam.year}}</a></p>
                {% endif %}
                
            {% endfor %}
        {% endif %}
        </div>
        
    </div>

    </div>

</div>
 {% endblock content %}



